.minimap {
  width: 120px;

  background: #181818;

  border-left: 1px solid var(--border-color);

  overflow: hidden;
}

.mini-line {
  height: 2px;

  margin: 3px 0;

  background: #5a5a5a;

  opacity: 0.5;
}
