.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.viewsSection {
  flex: 1;
  display: flex;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  display: flex;
  overflow: hidden;
}
