.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.workspace {
  flex: 1;
  min-height: 0;
}

.workspace-content {
  height: 100%;
  display: flex;
  overflow: hidden;
}
