.code-editor {
  flex: 1;

  overflow: auto;

  min-width: 0;

  min-height: 0;
}

.shiki {
  margin: 0 !important;

  padding: 24px !important;

  min-width: max-content;

  background: transparent !important;

  font-family:
    Consolas, "Cascadia Code", "JetBrains Mono", monospace !important;
}

.shiki code {
  white-space: pre;
}

.shiki .line {
  display: block;
}
