.code-editor {
  flex: 1;

  overflow: auto;

  min-width: 0;

  min-height: 0;

  background: var(--editor-bg);
}

.code-editor::-webkit-scrollbar {
  width: 12px;

  height: 12px;
}

.code-editor::-webkit-scrollbar-thumb {
  background: #555;
}

.code-editor::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.shiki {
  margin: 0 !important;

  padding: 24px !important;

  min-width: max-content;

  background: transparent !important;

  font-family:
    Consolas, "Cascadia Code", "JetBrains Mono", monospace !important;
}

.shiki code {
  white-space: pre;

  overflow: visible;
}
